.event-container {
  background-color: #F4F5F7;
  padding: 16px;

  .ant-table-tbody > tr > td {
    background-color: #F4F5F7;
  }

  .ant-divider {
    border-top: 1px solid #000;
  }

  .ant-btn {
    font-weight: bold
  }
  .ant-row {
    justify-content: flex-end;
    margin-bottom: 16px;
  }

  .row-buttons {
    justify-content: space-between;
  }

  .col-buttons {
    display: flex;
    gap: 5px;
  }
  .row-header {
    margin-bottom: 6px;
  }

  .col-date {
    text-align: right;
  }

  .col-invitate {
    text-align: right;
  }

  .col-title-event {
    text-align: right;
    font-weight: bold;
    text-align: left;
  }
}

.event-container-mobile {
  background-color: #F4F5F7;
  padding: 0 16px 16px 16px;

  .ant-table-tbody > tr > td {
    background-color: #F4F5F7;
  }

  .ant-btn {
    font-weight: bold
  }
  .ant-row {
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  .col-buttons {
    display: flex;
    gap: 15px;
  }

  .col-buttons-download {
    display: flex;
    margin-right: 10px;
  }

  .ant-divider {
    border-top: 1px solid #000;
  }

  .row-header {
    margin-bottom: 12px;
  }

  .col-date {
    text-align: right;
  }

  .col-invitate {
    text-align: right;
    font-weight: bold;
    text-align: left;
  }

  .col-title-event {
    text-align: right;
    font-weight: bold;
    text-align: left;
  }

  .back-button .icon-back {
     font-size: 30px;
  }
}

.empty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.invitation-buttons {
    background-color: #17202a;
    color: white;
}

.card-space {
  display: flex;
  justify-content: center;

  .card-container {
    width: 308px;
    height: 142px;
    border-radius: 10px;
    border-color: #A8B1C6;

    .card-title {
      color: #000;
    }

    .card-extra {
      color: #2F333C;
      font-weight: bold;
      padding: 0;
    }

    .card-content {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      margin-top: -12px;
    }

    .card-invites {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      span {
        font-size: 10px;
        color: #00000073;
      }
    }

    .card-buttons {
      display: flex;
      gap: 10px;

      .ant-btn {
        width: 130px;
        font-weight: bold;
      }
    }

    &.card-color-1 {
      .card-title {
        color: #EFBD17;
      }
    }

    &.card-color-2 {
      .card-title {
        color: #48D598;
      }
    }

    &.card-color-3 {
      .card-title {
        color: #A6CB2D;
      }
    }

    &.card-color-4 {
      .card-title {
        color: #61D9D2;
      }
    }
  }
}
