.home-component {
  padding: 10px;
  height: 100vh;
  background-color: white;

  h1 {
    color: $primary-light-black;
    font-size: 36px;
  }

  h4 {
    color: black;
    margin-bottom: 20px;
    color: $primary-light-black;
  }

  h3 {
    color: $primary-light-black;
  }

  .ant-row {
  }

    h5 {
      font-weight: bold;
    }

    .ant-card {
      border: 1px solid #d5dbdb;
    }

    .ant-card h4 {
      margin-bottom: 10px;
    }

    .ant-card span {
      display: block;
    }

    .ant-image {
      margin-top: 10px;
    }
  }
