.home-component {
  padding: 10px;
  height: 100vh;

  .ant-row {
    background-color: #FFFFFF;
  }

  .no-border-col .ant-card {
    border: none;
  }

  .card-color {
    background-color: #F4F5F7;
  }

    .ant-card {
      border: 1px solid #B0B8CB;
    }

    .ant-card h4 {
      margin-bottom: 10px;
    }

    .ant-card span {
      display: block;
    }

    .ant-image {
      margin-top: 10px;
    }

  .ant-typography {
    color: $primary-typography;
  }

  .ant-statistic .ant-statistic-title {
    color: $primary-typography;
  }

  .ant-statistic .ant-statistic-content-value {
    color: $primary-typography;
  }
  }

  .buttons-black {
    padding: 20px 20px 30px 0px;
    .button-black  {
      height: 70px;
      border-radius: 10px;
      border: solid 1px #B0B8CB;
      font-size: 30px
    }
  }

  @media (max-width: 838px) {
    .buttons-black .button-black {
      font-size: 15px;
    }
  }


