.home-component {
  padding: 10px;
  height: 100vh;
  background-color: #F4F5F7;

  .ant-row {
    background-color: #FFFFFF;
  }

  .no-border-col .ant-card {
    border: none;
  }

    .ant-card {
      border: 1px solid #B0B8CB;
    }

    .ant-card h4 {
      margin-bottom: 10px;
    }

    .ant-card span {
      display: block;
    }

    .ant-image {
      margin-top: 10px;
    }

  .ant-typography {
    color: $primary-typography;
  }

  .ant-statistic .ant-statistic-title {
    color: $primary-typography;
  }

  .ant-statistic .ant-statistic-content-value {
    color: $primary-typography;
  }
  }
