// ############# COLORS ############# //

// Primary colors //
$primary-orange: #FE8D36;
$primary-yellow: #FFD549;
$primary-green: #48D598;
$primary-black: #000000;
$primary-light-black: #2F333C;
$primary-typography: #576176;
